DATABASE_URL=""
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
EMAIL_FROM=""
RESEND_API_KEY=""
OPENROUTER_API_KEY=""
OPENROUTER_MODEL="google/gemini-3.1-flash-lite-preview"
